.portfolioContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolioItem{
    background-color: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolioItem:hover{
    border-color: var(--color-primary-variant);
    background-color: transparent;
}

.portfolioItemImg{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolioItem h3{
    margin: 1.2rem 0 2rem;
}

.portfolioItem h3{
    font-size: 1rem;
    line-height: 1.5rem;
}

.portfolioItemCTA{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

@media screen and (max-width:1024px) {
    
    .portfolioContainer{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

}

@media screen and (max-width:600px) {
    
    .portfolioContainer{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}

@media screen and (max-width:300px) {
     
    .portfolioContainer{
        display: flex;
        flex-direction: column;
    }

    .portfolioItem h3{
        font-size: 0.8rem;
    }

    .portfolioItemCTA{
        align-items: center;
    }
}